Repository AlexWayfer/flame-r18n: changes, and which Cirrus tasks are due for each by the changed paths.
All: rubocop, test

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script: bundle update
  container:
    image: ruby:latest
  rubocop_script: bundle exec rubocop

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script: bundle update
  depends_on:
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Improve Cirrus CI config
  .cirrus.yml
  .rubocop.yml
  flame-r18n.gemspec
Due: rubocop, test

Update to a new gem template
  .cirrus.yml
  .editorconfig
  .gitignore
  .remarkrc.yaml
  .rspec
  .rubocop.yml
  .toys.rb
  LICENSE.txt
  README.md
  Rakefile
  flame-r18n.gemspec
  package.json
  spec/flame/r18n/locale_in_path_spec.rb
Due: rubocop, test

Update dependencies and fix RuboCop offenses
  .rubocop.yml
  flame-r18n.gemspec
  spec/flame/r18n/initialization_spec.rb
Due: rubocop, test

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: rubocop, test

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: test

Add `remark-gfm` for a new `remark` version
  .remarkrc.yaml
  package.json
Due: test

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  flame-r18n.gemspec
Due: rubocop, test

Fix new offenses from RuboCop 1.3
  spec/flame/r18n/initialization_spec.rb
Due: rubocop, test

Remove patch-version lock for stable `rubocop`
  flame-r18n.gemspec
Due: rubocop, test

Allow Ruby 3 in gem specs
  flame-r18n.gemspec
Due: rubocop, test

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: test

Remove git versions of `flame` and `r18n-core`
  Gemfile
Due: rubocop, test

Update `r18n-core` to version 5, supporting Ruby 3
  flame-r18n.gemspec
Due: rubocop, test

Update gem description
  README.md
  flame-r18n.gemspec
Due: rubocop, test

Add CHANGELOG file
  CHANGELOG.md
Due: none

Move gem version to a separate file
  flame-r18n.gemspec
  lib/flame/r18n.rb
  lib/flame/r18n/version.rb
Due: rubocop, test

Update `gem_toys` to a new version
  flame-r18n.gemspec
Due: rubocop, test

Update version to 3.0.0.rc1
  CHANGELOG.md
  lib/flame/r18n/version.rb
Due: rubocop, test

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  flame-r18n.gemspec
Due: rubocop, test

Lock RuboCop version better
  flame-r18n.gemspec
Due: rubocop, test

Enable `rubygems_mfa_required`
  flame-r18n.gemspec
Due: rubocop, test

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  flame-r18n.gemspec
Due: rubocop, test

Resolve new RuboCop offenses
  lib/flame/r18n/locale_in_path.rb
Due: rubocop, test

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: test

Resolve new RuboCop offenses
  spec/flame/r18n/initialization_spec.rb
  spec/flame/r18n/locale_in_path_spec.rb
Due: rubocop, test

Add newlines to Cirrus CI config file
  .cirrus.yaml
Due: test

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  flame-r18n.gemspec
  spec/spec_helper.rb
Due: rubocop, test

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: test

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: test

Path conditions:
  rubocop: any of: .cirrus.yml, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **/*.rb, **/*.ru
  test: any of: .cirrus.yml, Gemfile, Rakefile, .rspec, *.gemspec, **/*.rb, **/*.ru, **/*.yml, **/*.yaml
