Repository AlexWayfer/flame-r18n: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:3.0
  environment:
  ...

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  flame-r18n.gemspec
Due: remark, rubocop, rspec

Lock Ruby version better
  flame-r18n.gemspec
Due: rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  flame-r18n.gemspec
Due: rubocop, rspec

Resolve new RuboCop offenses
  lib/flame/r18n.rb
Due: rubocop, rspec

Update Toys dependencies
  Gemfile
Due: rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  flame-r18n.gemspec
Due: remark, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Switch from Depfu to Renovate
  README.md
  renovate.json
Due: remark

Update `rubocop-rspec` and lock its version more strict
  Gemfile
Due: rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update `simplecov-cobertura`
  Gemfile
Due: rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  flame-r18n.gemspec
Due: remark, rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Update Flame runtime dependency
  flame-r18n.gemspec
Due: rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, rspec

Update R18n Core runtime dependency
  flame-r18n.gemspec
Due: rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: remark, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Update `simplecov-cobertura` development dependency
  Gemfile
Due: rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Update `remark-preset-lint-recommended` development dependency
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Remove Code Climate badge from README
  README.md
Due: remark

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Add Ruby 4.0 support
  .cirrus.yaml
  flame-r18n.gemspec
Due: remark, rubocop, rspec

Update version to 3.0.0
  CHANGELOG.md
  lib/flame/r18n/version.rb
Due: remark, rubocop, rspec

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru)
  rspec: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**)
